45 16 * * * cd /home/pi/twyla-opus && git pull

0 17 * * * irsend SEND_ONCE /home/pi/lircd.conf KEY_POWER

1 17 * * * cd /home/pi/twyla-opus/spectacles && export DISPLAY=:0 && /usr/local/bin/lein run -m spectacles.presenter cmd >> /home/pi/presentation.log 2>&1

30 21 * * * irsend SEND_ONCE /home/pi/lircd.conf KEY_POWER && sleep 3 && irsend SEND_ONCE /home/pi/lircd.conf KEY_POWER

31 21 * * * pkill -f "java.*lein"